<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Basic HTML Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Store Analytics</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#stores">Stores</a></li>
          <li><a class="nav-link scrollto " href="#analytics">Analytics</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Cameras</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- Display the pie chart -->
  <div class="image-container">
    <img src="{{chart_filename }}" alt="Male vs Female Proportions">
  </div>

</body>
</html>